<header>
	<div class="container">

		<div id="logo-container">
			Ben Wigley <small>Musician<span>/</span>Developer<span>/</span>Hobbyist</small>
		</div>

    <div class="social-icons">
      <a href="//github.com/benwigley" target="_blank" title="GitHub">
        <i class="icon-github"></i>
      </a>
      <a href="https://twitter.com/bwwigley" target="_blank" title="Twitter">
        <i class="icon-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/bwigley" target="_blank" title="LinkedIn">
        <i class="icon-linkedin"></i>
      </a>
    </div>

		<!-- <nav>
    {% for link in site.navigation %}
      <a href="{{ link.url }}"
        class="nav-link{% if link.url == page.url %} active{% endif %}">
        {{ link.title }}
       </a>
    {% endfor %}
		</nav> -->
	</div>
</header>
