<header>
	<div class="container">

		<div id="logo-container">
			<a href="/">Ben Wigley <small>Developer</small></a>
		</div>

    <div class="social-icons">
      <a href="//github.com/benwigley" title="GitHub">
        <i class="icon-github"></i>
      </a>
      <a href="https://twitter.com/bwwigley" title="Twitter">
        <i class="icon-twitter"></i>
      </a>
      <a href="http://www.linkedin.com/profile/view?id=93308315" title="LinkedIn">
        <i class="icon-linkedin"></i>
      </a>
    </div>

		<!-- <nav>
    {% for link in site.navigation %}
      <a href="{{ link.url }}"
        class="nav-link{% if link.url == page.url %} active{% endif %}">
        {{ link.title }}
       </a>
    {% endfor %}
		</nav> -->
	</div>
</header>
