/*
	Layout
	---------------------------
*/

html {
	background: #efefef;
}

body {
	padding-bottom: 50px;
}

.container {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}

section {
	margin: 40px 0;
}
