/*
	List Bricks
	---------------------------
*/

.list-brick {
	display: block;
	margin-bottom: 40px;
	/*border-top: solid 1px #ddd;*/
	vertical-align: top;
}
.list-brick-inner {
	padding: 10px 0;
	/*border-top: solid 1px #fff;*/
	overflow: hidden;
}
/*.list-brick:last-child {
	border-bottom: solid 1px #fff;
}
.list-brick:last-child .list-brick-inner {
	border-bottom: solid 1px #ddd;
}*/

.list-brick .brick-image {
	float: left;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
}
.list-brick .brick-right {
	margin-left: 120px;
}


.list-brick h3,
.list-brick p {
	margin: 0 0 12px;
	color: #222;
	max-width: 620px
}