/*
	Footer
	---------------------------
*/

footer {
	text-align: center;
}
footer .container {
	position: relative;
	/* border-top: solid 1px #ddd; */
	margin-top: 80px;
	padding-top: 30px;
}
footer p {
	max-width: none;
}
