/*
	Header
	---------------------------
*/

header {
	text-align: right;
	border-bottom: solid 1px #ccc;
	background: #2A6CB8 url('/img/header-bg.jpg') center center;
	background-size: cover;
}
header .container {
	position: relative;
	height: 400px;
}
header .social-icons {
	position: absolute;
	bottom: 50px;
	right: 10px;
}
header .social-icons a i:before {
	color: #000;
}
header .social-icons a:hover i:before {
	color: white;
}

#logo-container {
	position: absolute;
	bottom: 50px;
	left: 10px;
	color: #fff;
	font-size: 36px;
}
/*#logo-container a:hover {
	color: rgba(255, 255, 255, .8);
}*/
#logo-container small {
	margin-left: 5px;
	color: #ccc;
	font-size: 14px;
	text-transform: uppercase;
}

/*.nav-link {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	margin: 0 5px;
	color: #555657;
	font-size: 12px;
	border: solid 0 #ccc;
	transition: background-color 100ms;
}
.nav-link:hover,
.nav-link.active {
	color: #000;
	margin: 0 4px;
	border-left-width: 1px;
	border-right-width: 1px;
	background-color: #efefef;
}*/
