/*
	Typography
	---------------------------
*/

a {
	color: #0475CE;
	transition: color 80ms;
	text-decoration: none;
}
a:hover {
	color: #E45F14;
}

p {
	font-size: 12px;
}


/* Headings */
h1, h2, h3, h4 {
	color: #222;
	font-weight: 500;
	text-shadow: 0 1px 0 #fff;
}

h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-weight: 600;
	font-size: 0.8em;
}

.section-heading {
	margin-top: 2em;
	padding-bottom: 6px;
	border-bottom: solid 1px #ccc;
}


/* Lists */

dl {
	margin: 1em 0;
}
dl dt {
	font-weight: 600;
	margin-bottom: 3px;
}
dl dt .default {
	font-weight: 500;
	margin-left: 5px;
}
dl dd {
	margin-bottom: 1em;
	margin-left: 30px;
}


/* Code */

pre {
	margin: 1.5em 0;
	padding: 10px;
	font-size: 12px;
	border-radius: 3px;
	border: solid 1px #ccc;
	background-color: #fff;
}